<h1>Orders#index</h1>
<p id="notice"><%= notice %></p>

<h1 align="center" >Orders</h1>

<body bg="red">

<table border="1" align="center" cellspacing="5" cellpadding="5">
  <thead>
    <tr>
      <th>cust_name</th>
      <th>cust_phone_no</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.cust_name %></td>
        <td><%= order.cust_phone_no %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </body>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
